{
    "version" : "2017-02-28",
    "operation" : "PutItem",
    "key" : {
        "channelId" : { "S" : "${context.arguments.channelId}" },
        "username" : { "S" : "${context.identity.username}" }
    },
    "attributeValues" : {
        "createdAt": { "S" : "$util.time.nowISO8601()" }
    }
}